$estilos-div: (
    d-flex: flex,
    alignC: center,
    justifyC: center,
    directionC: column,
    directionR: row,
    noWrapped: nowrap,
    wrapped: wrap,
    around: space-around,
    btwn: space-between,
);
