*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}


body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    
    color: white;
    background-color: rgb(218, 191, 191);
}

header{
    height: 100%;
    background-color: rgb(218, 191, 191);
    padding: 10px;
    text-align: center;
}


/* Estilo nav*/

.nav_color{
    color: white;
    flex-direction: row;
}

.posicionamiento{
    width: 100%;
    justify-content: flex-end;
}

/* Estilo Index*/

.box{
    font-size: 30px;
    background-color: #212529;
    justify-content: center;
    text-align: center;
    border: 5px solid #212529;
    height: 150px;
    width: 300px;
    align-items: center;
    margin-left: 790px;
    margin-top: 30px;
    display: flex;
    border-radius: 10px;
}

.sub-titulo{
    background-color: #212529;
    width:fit-content;
    height: fit-content;
    border: 5px solid #212529;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-left: 620px;
    margin-top: 50px;
}

.historia{
    background-color:  #212529;
    width: fit-content;
    height: fit-content;
    border: 5px solid  #212529;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.grid-historia{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.imagenes-historia{
    display: flex;
    justify-content: center;
    flex-direction: space-evenly;
    margin: 10px 30px;
    background-color: #212529;
    width:fit-content;
    height: fit-content;
    border: 10px solid #212529;
    border-radius: 10px;
    flex-direction: ;
}

.info{
    background-color:  #212529;
    width: fit-content;
    height: fit-content;
    border: 5px solid  #212529;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-left: 650px;
    margin-top: 30px;
}


/*Estilo Discografia*/

.titulo_inicial{
    font-size: 35px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    border: 5px solid  #212529;
    background-color:  #212529;
    width: fit-content;
    height: fit-content;
    margin-left: 810px;
    margin-top: 30px;
}

.contenedor-grid{
    display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 10px;
        row-gap: 100px;
        grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
        margin: 20px;
        padding: 20px;
}

.containerAlbum{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    margin: 20px;
    height: 600px;
    width: 500px;
    border: 5px solid  #212529;
    background-color:  #212529;
    border-radius: 10px;
}

.tituloAlbumes{
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.fechaAlbumes{
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.containerimgAlbumes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenAlbum{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    width: 350px;
    height: 350px;
}

.containerbuttons{
    display: flex;
    justify-content: center;
}

.buttonlink{
    margin: 10px;
}


/* Estilo Integrantes */

.integrantes-banda{
    background-color:  #212529;
    width: fit-content;
    height: fit-content;
    border: 5px solid  #212529;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-left: 740px;
    margin-top: 30px;
}



.alex{
    background-color:  #212529;
    width: fit-content;
    height: fit-content;
    border: 5px solid  #212529;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.caja-integrantes{
    display: flex;
    justify-content: center;
    flex-direction: space-evenly;
    margin: 10px 30px;
    border-radius: 10px;
}

.img-integrantes{
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: space-evenly;
    margin: 10px 30px;
}

.matt{
    background-color:  #212529;
    width: fit-content;
    height: fit-content;
    border: 5px solid  #212529;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-top: 40px;
}

.jamie{
    background-color:  #212529;
    width: fit-content;
    height: fit-content;
    border: 5px solid  #212529;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-top: 40px;
}















/* Estilo Footer*/

.footer{
    height: 100px;
    padding: 1em 0;
}

.footer-color{
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.footer-pos{
    font-size: 20px;
    justify-content: center;
    margin-left: 790px;
    margin-top: 30px;
}

.iconos{
    position: relative;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contenedor-iframe{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer{
    display: block;
}

.contenedor-redes{

}

.imgRedes{
    height: 34px;
    margin: 10px;
}

.imgRedes:hover{
    height: 40px;
}

.footer-titulo{
    text-align: center;
    justify-content:center;
    margin: 20px;
}